html,
body,
#app-container,
.site-frame {
  height: 100%;
}

.image-bg {
  min-width: 800px;
  min-height: 115%;
  height: auto;
  width: 100%;
  position: fixed;
  top: -15%;

  background: url("../img/spacecat.jpg");
  background-size: 120% auto;
  background-position: 95% 40%;

  @media only screen and (max-width: 800px) {
    & {
      background-position: 95% 10%;
    }
  }
}

.site-frame {
  position: relative;
  margin: 0 auto;
  min-width: 450px;
}

.content {
  position: absolute;
  top: 25%;
  left: 40%;
  width: 40%;
  padding: 50px;
  background: rgba(0, 0, 0, 0.85);
  transition: top 2s;

  @media only screen and (max-width: 800px) {
    & {
      top: 30%;
      left: 10%;
      width: 60%;
    }
  }

  h1,
  h2,
  h3 {
    text-align: center;
  }
}

p {
  margin-bottom: 1em;
}
